* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
    all: unset;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .proj_name {
    font-family: "Do Hyeon", sans-serif;
    font-size: 1.2rem;
}

.head-container .proj_name a:hover {
    color: red;
}

.head-container .team_name {
    font-family: "Do Hyeon", sans-serif;
    font-size: 1.2rem;
}

section {
    width: 100%;
    background-color: white;
    position: relative;
}

.sub-main {
    height: 400px;
    background-image: url(img/sub_sec.jpeg);
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    margin-top: 60px;

}

.country-container {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.countryName {
    font-size: 3rem;
    color: white;
    opacity: 0.7;
    font-family: "Do Hyeon", sans-serif;
    padding-bottom: 0.8rem;
}

.vaccInfo {
    font-size: 1.4rem;
    color: black;
    font-weight: bolder;
}

.travelInfo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.Tinfo {
    width: 20%;
    font-family: "Do Hyeon", sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px -4px rgba(65, 105, 225, .2);
}

.infoTitle {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.infoname {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.infocontent {
    font-size: 1.1em;
}

.plane-style {
    color: #6A5ACD;
}

.visa-style {
    color: #6B8E23
}

.whether-style {
    color: red;
}

.lan-style {
    color: #708090;
}

.volt-style {
    color: #6495ED;
}

.tip-style {
    color: #D2691E;
}

.time-style {
    color: #FF69B4;
}

.trend-container {
    width: 100%;
}

.trendtitle {
    font-size: 2.2rem;
    font-family: "Do Hyeon", sans-serif;
    text-align: center;
}

.trendSubTitle {
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.graph {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 450%;
    transform: translate(-50%, -50%);
    display: flex;
}

.graph li {
    padding: 0 20px;
}

.graph li div {
    position: relative;
    width: 50px;
    height: 300px;
    background-color: white;
}

.graph li div span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFB6C1;
}

.graph li div span i {
    font-family: "Do Hyeon", sans-serif;
    margin-left: 0.8rem;
    font-size: 0.8rem;
}

.graph li p {
    text-align: center;
    font-family: "Do Hyeon", sans-serif;
}


@media only screen and (min-width : 1200px) {
    .inner {
        max-width: 1200px;
    }
}